.delivery{
    height:310px;
    width: 100%;
    background-image: url(/assets/background-footerdos.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

