<section class="alitas-section">
    <p class="alitas-title">Alitas</p>
    <p>Disfruta de nuestras alitas selecciona tu sabor favorito y elije tu presentación personal favorita.    </p>
    <nav class="alitas-navbar">
      <button class="alitas-btn active">Saladas</button>
      <button class="alitas-btn">Dulces</button>
      <button class="alitas-btn">Picantes</button>
    </nav>
    <div class="alitas-container">
      <div class="alitas-block">
        <img src="./assets/img/alitas.jpg" alt="Alitas">
        <p>Tocino</p>
        <button class="alitas-add-btn">Añadir</button>
      </div>
      <div class="alitas-block">
        <img src="./assets/img/alitas.jpg" alt="Alitas">
        <p>Al Ajo</p>
        <button class="alitas-add-btn">Añadir</button>
      </div>
      <div class="alitas-block">
        <img src="./assets/img/alitas.jpg" alt="Alitas">
        <p>Oriental</p>
        <button class="alitas-add-btn">Añadir</button>
      </div>
      <div class="alitas-block">
        <img src="./assets/img/alitas.jpg" alt="Alitas">
        <p>Criolla</p>
        <button class="alitas-add-btn">Añadir</button>
      </div>
      <div class="alitas-block">
        <img src="./assets/img/alitas.jpg" alt="Alitas">
        <p>Chimichurri</p>
        <button class="alitas-add-btn">Añadir</button>
      </div>
      <div class="alitas-block">
        <img src="./assets/img/alitas.jpg" alt="Alitas">
        <p>Olivo</p>
        <button class="alitas-add-btn">Añadir</button>
      </div>
      <div class="alitas-block">
        <img src="./assets/img/alitas.jpg" alt="Alitas">
        <p>Crema de Ajo</p>
        <button class="alitas-add-btn">Añadir</button>
      </div>
    </div>
  </section>
  