<section class="combos-section" id="combos">
    <h1 class="combos-title">Combos</h1>
    <p class="descripcion">En todas nuestras salchis puedes agregar los adicionales que quieras.</p>
    
    <div class="combos-container">
      <div class="combo-block">
        <img src="./assets/img/combo.jpg" alt="Combo 1" class="combo-image">
        <h3 class="combo-title">Yo Quisiera</h3>
        <p class="combo-description">12 deliciosas alitas</p>
        <span class="suma">+</span>
        <p class="combo-description">papas fritas</p>
        <span class="suma">+</span>
        <p class="combo-description">2 Salsas a su elección</p>
        <p class="combo-price">S/ 34.00</p>
        <button class="combo-button" (click)="openSM(contenido)">Añadir</button>
      </div>
      <div class="combo-block">
        <img src="./assets/img/combo.jpg" alt="Combo 2" class="combo-image">
        <h3 class="combo-title">Deciciones</h3>
        <p class="combo-description">18 deliciosas alitas</p>
        <span class="suma">+</span>
        <p class="combo-description">papas fritas</p>
        <span class="suma">+</span>
        <p class="combo-description">3 Salsas a su elección</p>        
        <p class="combo-price">S/ 44.00</p>
        <button class="combo-button" (click)="openSM(contenido)">Añadir</button>
      </div>
      <div class="combo-block">
        <img src="./assets/img/combo.jpg" alt="Combo 3" class="combo-image">
        <h3 class="combo-title">Sobredosis</h3>
        <p class="combo-description">24 deliciosas alitas</p>
        <span class="suma">+</span>
        <p class="combo-description">papas fritas</p>
        <span class="suma">+</span>
        <p class="combo-description">4 Salsas a su elección</p>
        <p class="combo-price">S/ 58.00</p>
        <button class="combo-button" (click)="openSM(contenido)">Añadir</button>
      </div>
      <div class="combo-block">
        <img src="./assets/img/combo.jpg" alt="Combo 4" class="combo-image">
        <h3 class="combo-title">El Gran Combo</h3>
        <p class="combo-description">30 deliciosas alitas</p>
        <span class="suma">+</span>
        <p class="combo-description">papas fritas</p>
        <span class="suma">+</span>
        <p class="combo-description">5 Salsas a su elección</p>
        <p class="combo-price">S/ 72.00</p>
        <button class="combo-button" (click)="openSM(contenido)">Añadir</button>
      </div>
    </div>
  </section>

<ng-template #contenido let-modal>
    <div class="modal-header modal-scrollable" style="display: none;">

    </div>
    <div class="modal-body">
      <div class="encabezado-modal">
        <div class="content-combo">
          <h3>Combo</h3>
          <h1 class="nombre-combo">YO QUISIERA</h1>
        </div>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="pedido-body">
        <h5><b>Selecciona tus salsas</b></h5>
        <p>Puedes elegir hasta <span style="color: red;"><b>2 </b></span>Salsas</p>
        <div class="salsas-select-buttons">
          <div *ngFor="let element of buttons; let i = index">
            <button class="btn" [class.active]="activeIndex === i" (click)="changeActiveIndex(i)">
              {{ element.name }}
            </button>
          </div>
        </div>
        <div class="salsas-select-body">
          <div class="container-cbx-salsas">
            <label *ngFor="let salsa of salsas" class="cbx-salsas">
              <input type="checkbox" id="{{ salsa.value }}" style="display: none;">
              <img src="{{ salsa.imageUrl }}" alt="{{ salsa.value }}">
              <p><b>{{ salsa.value }}</b></p>
            </label>
          </div>
        </div>
      </div>
      <div class="body-cremas">
        <h5><b>Selecciona tus cremas</b></h5>
        <p>Selecciona las cremas que acompañaran tus deliciosas papas fritas.</p>
        <div class="cbx-cremas">
          <label><input type="checkbox" id="cbx-aji" value="Aji"> Aji</label> <br>
          <label><input type="checkbox" id="cbx-aji" value="Mayonesa"> Mayonesa</label> <br>
          <label><input type="checkbox" id="cbx-aji" value="Ketchup"> Ketchup</label>
        </div>
        <div class="more-especf">
          <div class="header-especf">
            <h5><b>Especificaciones adicionales</b></h5>
            <button type="button" class="btn btn-open-especf" id="btn-open-especf" (click)="moreSpecf()"><i class="fa-solid fa-notes-medical" style="color:red"></i></button>
          </div>
          <div class="body-especf" id="body-especf">
            <textarea name="especificaciones" id="text-especf" rows="5" class="txtarea-specf"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss()">Agregar y seguir comprando</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss()">Agregar e ir a Pagar</button>
    </div>
</ng-template>