<section class="combos-section">
    <h1 class="combos-title">Combos</h1>
    <p class="descripcion">En todas nuestras salchis puedes agregar los adicionales que quieras.</p>
    
    <div class="combos-container">
      <div class="combo-block">
        <img src="./assets/img/combo.jpg" alt="Combo 1" class="combo-image">
        <h3 class="combo-title">Yo Quisiera</h3>
        <p class="combo-description">12 deliciosas alitas</p>
        <span class="suma">+</span>
        <p class="combo-description">papas fritas</p>
        <span class="suma">+</span>
        <p class="combo-description">2 Salsas a su elección</p>
        <p class="combo-price">S/ 34.00</p>
        <button class="combo-button">Añadir</button>
      </div>
      <div class="combo-block">
        <img src="./assets/img/combo.jpg" alt="Combo 2" class="combo-image">
        <h3 class="combo-title">Deciciones</h3>
        <p class="combo-description">18 deliciosas alitas</p>
        <span class="suma">+</span>
        <p class="combo-description">papas fritas</p>
        <span class="suma">+</span>
        <p class="combo-description">3 Salsas a su elección</p>        
        <p class="combo-price">S/ 44.00</p>
        <button class="combo-button">Añadir</button>
      </div>
      <div class="combo-block">
        <img src="./assets/img/combo.jpg" alt="Combo 3" class="combo-image">
        <h3 class="combo-title">Sobredosis</h3>
        <p class="combo-description">24 deliciosas alitas</p>
        <span class="suma">+</span>
        <p class="combo-description">papas fritas</p>
        <span class="suma">+</span>
        <p class="combo-description">4 Salsas a su elección</p>
        <p class="combo-price">S/ 58.00</p>
        <button class="combo-button">Añadir</button>
      </div>
      <div class="combo-block">
        <img src="./assets/img/combo.jpg" alt="Combo 4" class="combo-image">
        <h3 class="combo-title">El Gran Combo</h3>
        <p class="combo-description">30 deliciosas alitas</p>
        <span class="suma">+</span>
        <p class="combo-description">papas fritas</p>
        <span class="suma">+</span>
        <p class="combo-description">5 Salsas a su elección</p>
        <p class="combo-price">S/ 72.00</p>
        <button class="combo-button">Añadir</button>
      </div>
    </div>
  </section>
  