<section class="salchis-section" id="salchis">
    <h1 class="salchi-title">Salchis</h1>
    <p class="descripcion">En todas nuestras salchis puedes agregar los adicionales que quieras.</p>
    <div class="salchis-container">
      <div class="salchis-block">
        <img src="./assets/img/salchipapa.jpg" alt="Salchis 1" class="salchis-image">
        <h3 class="salchis-title">Idilio</h3>
        <p class="salchis-price">S/ 12.00</p>
        <button class="salchis-button">Añadir</button>
      </div>
      <div class="salchis-block">
        <img src="./assets/img/salchipapa.jpg" alt="Salchis 2" class="salchis-image">
        <h3 class="salchis-title">Devórame otra vez</h3>
        <p class="salchis-price">S/ 15.00</p>
        <button class="salchis-button">Añadir</button>
      </div>
      <div class="salchis-block">
        <img src="./assets/img/salchipapa.jpg" alt="Salchis 3" class="salchis-image">
        <h3 class="salchis-title">La mas bella</h3>
        <p class="salchis-price">S/ 18.00</p>
        <button class="salchis-button">Añadir</button>
      </div>
      <div class="salchis-block">
        <img src="./assets/img/salchipapa.jpg" alt="Salchis 4" class="salchis-image">
        <h3 class="salchis-title">La Indestructible</h3>
        <p class="salchis-price">S/ 22.00</p>
        <button class="salchis-button">Añadir</button>
      </div>
    </div>
  </section>
  