<section class="salchis-section" id="salchis">
    <h1 class="salchi-title">Salchis</h1>
    <p class="descripcion">En todas nuestras salchis puedes agregar los adicionales que quieras.</p>
    <div class="salchis-container">
      <div class="salchis-block" *ngFor="let salchi of salchis">
        <form action="">
          <img src="{{salchi.imagen}}" alt="Salchis 1" class="salchis-image">
          <h3 class="salchis-title">{{ salchi.nombre }}</h3>
          <p class="salchis-price">S/.{{ salchi.precio }}</p>
          <button class="salchis-button" (click)="guardar(salchi.nombre,salchi.categoria,salchi.precio,salchi.imagen)">Añadir</button>
        </form>
      </div>
    </div>
  </section>
  