<footer class="footer">
    <div class="footer-description">
      <div class="footer-column">
        <h3><img src="./assets/img/alitassinfondo.png" alt="Logo SalsaBar" class="logo" width="75">SalsaBar</h3>
        <p class="footer-content">Desde las clásicas y picantes hasta las exóticas y ahumadas, nuestro objetivo es llevar tus papilas gustativas en un viaje épico de sabores. Ya sea que estés buscando una explosión de especias, una suave dulzura o una combinación única de ingredientes, en SalsaBar encontrarás la salsa perfecta para cada ocasión.</p>
        <div class="footer-icons">
            <a href="#"><i class="fa-brands fa-facebook fa-beat" style="color: #e80e16;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-beat" style="color: #e80e16;"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp fa-beat" style="color: #e80e16;"></i></a>
        </div>
      </div>
      <div class="footer-column mapa">
        <h6 class="red-title">Encuéntranos</h6>
        <div class="map-container"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.752718027645!2d-79.03882702421241!3d-8.126639781346878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3dde84f53db3%3A0xaae3738877df19f0!2sSALSABAR%20-%20EL%20POINT%20DE%20LAS%20ALITAS!5e0!3m2!1ses!2spe!4v1687541466060!5m2!1ses!2spe" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>
    </div>
    <p class="footer-bottom">Design with love © SalsaBar 2023. All rights reserved.</p>
  </footer>