<section class="bebidas-section">
    <p class="bebida-title">Bebidas</p>
    <p>Disfruta de nuestras alitas selecciona tu sabor favorito y elije tu presentación personal favorita.    </p>
    
    <nav class="bebidas-navbar">
      <button class="bebidas-btn active">Gaseosas</button>
      <button class="bebidas-btn">Cerveza</button>
      <button class="bebidas-btn">Refrescos</button>
    </nav>
    <div class="bebidas-container">
      <div class="bebidas-block">
        <img src="./assets/img/fanta.jpg" alt="Alitas">
        <h3 class="bebidas-title">Coca Cola</h3>
        <p class="bebidas-price">S/ 3.50</p>
        <button class="bebidas-add-btn">Añadir</button>
      </div>
      <div class="bebidas-block">
        <img src="./assets/img/fanta.jpg" alt="Alitas">
        <h3 class="bebidas-title">Fanta</h3>
        <p class="bebidas-price">S/ 3.50</p>
        <button class="bebidas-add-btn">Añadir</button>
      </div>
      <div class="bebidas-block">
        <img src="./assets/img/fanta.jpg" alt="Alitas">
        <h3 class="bebidas-title">Guarana</h3>
        <p class="bebidas-price">S/ 2.50</p>
        <button class="bebidas-add-btn">Añadir</button>
      </div>
      <div class="bebidas-block">
        <img src="./assets/img/fanta.jpg" alt="Alitas">
        <h3 class="bebidas-title">Inka Kola</h3>
        <p class="bebidas-price">S/ 3.50</p>
        <button class="bebidas-add-btn">Añadir</button>
      </div>
      <div class="bebidas-block">
        <img src="./assets/img/fanta.jpg" alt="Alitas">
        <h3 class="bebidas-title">Sprite</h3>
        <p class="bebidas-price">S/ 3.50</p>
        <button class="bebidas-add-btn">Añadir</button>
      </div>
      <div class="bebidas-block">
        <img src="./assets/img/fanta.jpg" alt="Alitas">
        <h3 class="bebidas-title">Agua San Luis</h3>
        <p class="bebidas-price">S/ 3.00</p>
        <button class="bebidas-add-btn">Añadir</button>
      </div>
    </div>
  </section>
  