<section class="bebidas-section" id="bebidas">
    <p class="bebida-title">Bebidas</p>
    <p>Disfruta de nuestras alitas selecciona tu sabor favorito y elije tu presentación personal favorita.    </p>
    
    <nav class="bebidas-navbar">
      <button class="bebidas-btn" [class.active]="activeButton === 'Gaseosas'" (click)="changeActiveButton('Gaseosas')">Gaseosas</button>
      <button class="bebidas-btn" [class.active]="activeButton === 'Cerveza'" (click)="changeActiveButton('Cerveza')">Cerveza</button>
      <button class="bebidas-btn" [class.active]="activeButton === 'Refrescos'" (click)="changeActiveButton('Refrescos')">Refrescos</button>
    </nav>

    <div class="bebidas-container">
      <ng-container *ngFor="let bebida of bebidas">
        <div class="bebidas-block" *ngIf="activeButton === 'Gaseosas'">
          <form action="">
            <img src="{{ bebida.imagen }}" alt="">
            <h3 class="bebidas-title">{{ bebida.nombre }}</h3>
            <p class="bebidas-price">S/ {{ bebida.precio }}</p>
            <button class="bebidas-add-btn" (click)="guardar(bebida.nombre,bebida.categoria,bebida.precio,bebida.imagen)">Añadir</button>
          </form>
        </div>
      </ng-container>

      <ng-container *ngFor="let cerveza of cervezas">
        <div class="bebidas-block" *ngIf="activeButton === 'Cerveza'">
          <form action="">
            <img src="{{ cerveza.imagen }}" alt="">
            <h3 class="bebidas-title">{{ cerveza.nombre }}</h3>
            <p class="bebidas-price">S/ {{ cerveza.precio }}</p>
            <button class="bebidas-add-btn" (click)="guardar(cerveza.nombre,cerveza.categoria,cerveza.precio,cerveza.imagen)">Añadir</button>
          </form>
        </div>
      </ng-container>


      <ng-container *ngFor="let refresco of refrescos">
        <div class="bebidas-block" *ngIf="activeButton === 'Refrescos'">
          <form action="">
            <img src="{{ refresco.imagen }}" alt="">
            <h3 class="bebidas-title">{{ refresco.nombre }}</h3>
            <p class="bebidas-price">S/ {{ refresco.precio }}</p>
            <button class="bebidas-add-btn" (click)="guardar(refresco.nombre,refresco.categoria,refresco.precio,refresco.imagen)">Añadir</button>
          </form>
        </div>
      </ng-container>

    </div>
  </section>
  